# Dictionaries:

In [1]:
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."}
print(customer_29876)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.'}

In [2]:
rankings = {5: "Finland", 2: "Norway", 3: "Sweden",7: "Iceland"}
print(rankings)

{5: 'Finland', 2: 'Norway', 3: 'Sweden', 7: 'Iceland'}

In [3]:
things_to_remember = {}
things_to_remember[0] = "the lowest number"
print(things_to_remember)
things_to_remember["a dozen"] = 12
print(things_to_remember)

{0: 'the lowest number'}
{0: 'the lowest number', 'a dozen': 12}

# things to remember
### function mean indepndnt of variable
### method mean part of variabl

In [4]:

std1 = {"name": "Kamran", "Class": "aic", "Session": 1 }
std2 = {"name": "Ali", "Class": "cnc", "Session": 2 }
std3 = {"name": "Noman", "Class": "btc", "Session": 3 }

students = {}

students["aic-a01"] = std1
students["cnc-a01"] = std2
students["btc-a01"] = std3

print(students)

{'aic-a01': {'name': 'Kamran', 'Class': 'aic', 'Session': 1}, 'cnc-a01': {'name': 'Ali', 'Class': 'cnc', 'Session': 2}, 'btc-a01': {'name': 'Noman', 'Class': 'btc', 'Session': 3}}

In [5]:
#Assignment
# for loop to print each dictionary values seperatly
# example: 
# student : aic a01
# class aic
# name : Kamran
# session : 1


std1 =  [{"student":"aic a01", "name": "Kamran", "Class": "aic", "Session": 1 },
        {"student":"cnc c02","name": "Ali", "Class": "cnc", "Session": 2 },
        {"student":"btc a03","name": "Noman", "Class": "btc", "Session": 3 }]

# print(std1)
for each_key in std1:
    print(each_key)

{'student': 'aic a01', 'name': 'Kamran', 'Class': 'aic', 'Session': 1}
{'student': 'cnc c02', 'name': 'Ali', 'Class': 'cnc', 'Session': 2}
{'student': 'btc a03', 'name': 'Noman', 'Class': 'btc', 'Session': 3}

In [6]:
import pandas as np
x = np.array([1,2,3,4,5])
np.x

AttributeError: module 'pandas' has no attribute 'x'

In [7]:
number = [1,2,3,4,5]
sum = 0
for numbers in number:
    sum += numbers
print(sum)

15

In [8]:
import pandas as np
x = input("Please enter an interger")
num = range(x)
print(num)

Please enter an interger8

TypeError: 'str' object cannot be interpreted as an integer

In [9]:
student_29876 = {"name": "waqar", "class": "x", "marks": 70}
print(student_29876)

print(student_29876["marks"])

{'name': 'waqar', 'class': 'x', 'marks': 70}
70

In [10]:
student_29876 = {"name": "waqar", "class": "x", "marks": [70, 50, 40, 60]}

print(student_29876["marks"])

[70, 50, 40, 60]

In [11]:
student_29876 = {"name": "waqar", "class": "x", "marks": [70, 50, 40, 60]}

print(student_29876["marks"])

[70, 50, 40, 60]

In [15]:
student_29876 = {"name": "waqar",
                 "class": "AI",
                 "marks": {"quiz1": 40, "quiz2": 45, "mid": 50, "final":55}}
exam_name= input("Exam Name: ")
print(student_29876["marks"][exam_name])

Exam Name: mid
50

In [14]:
student_29876 = {"name": "waqar",
                 "class": "AI",
                 "marks": {"quiz1": 40, "quiz2": 45, "mid": 50, "final":55}}
exam_name= input("Exam Name: ")
marks = student_29876["marks"]
print(marks[exam_name])

Exam Name: mid
50

In [16]:
# 10 student
# 2 classes
# 4 exam
# 3 attempt allowed
# take take student name and exam_name
# as input and show in which class
# the student get maximum marks

In [17]:
students = []
class1= {"name":"AI",
         "marks":
         {"quiz1": 40,
          "quiz2": 45,
          "mid": 50,
          "final": 55,
         
         }
    }

class2= {"name":"CNC",
         "marks":
         {"quiz1": 40,
          "quiz2": 45,
          "mid": 50,
          "final": 55,
         
         }
    }

student_01 = {
    "name": "waqar",
    "class_AI": class1,
    "class_CNC": class2
}

students.append(student_01)
print(students)

[{'name': 'waqar', 'class_AI': {'name': 'AI', 'marks': {'quiz1': 40, 'quiz2': 45, 'mid': 50, 'final': 55}}, 'class_CNC': {'name': 'CNC', 'marks': {'quiz1': 40, 'quiz2': 45, 'mid': 50, 'final': 55}}}]

In [18]:
customer_29876 = {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
"discounts": ["brother-in-law", "standard", "volume", "loyalty",]
}

discount_amount = 0
if "brother-in-law" in customer_29876["discounts"]:
    discount_amount = .30
elif "loyalty" in customer_29876["discounts"]:
    discount_amount = .15
elif "volume" in customer_29876["discounts"]:
    discount_amount = .10
elif "standard" in customer_29876["discounts"]:
    discount_amount = .05
    
print(discount_amount)

0.3

In [19]:
customer_29876 = {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St.",
"discounts": ["brother-in-law", "standard", "volume", "loyalty",]
}

discount_amount = 0
if "brother-in-law" in customer_29876["discounts"]:
    discount_amount += .30
if "loyalty" in customer_29876["discounts"]:
    discount_amount += .15
if "volume" in customer_29876["discounts"]:
    discount_amount += .10
if "standard" in customer_29876["discounts"]:
    discount_amount += .05
    
print(discount_amount)

0.6

In [20]:
class1={"name":"AI"
       }
class2={"name":"CNC"
       }
students = {
"student_1001" : {
        "name" : "Aamir",
        "class_ai" : class1, "marks_ai" : {
            "quiz1" : 90,
            "quiz2" : 95,
            "mid" : 80,
            "final" : 85    
        },
        "class_cnc" : class2, "marks_cnc":
        {
            "quiz1" : 40,
            "quiz2" : 45,
            "mid" : 50,
            "final" : 55    
        }
},
"student_1002" : {
        "name" : "babar",
        "class_ai" : class1, "marks_ai" : {
            "quiz1" : 90,
            "quiz2" : 95,
            "mid" : 80,
            "final" : 85    
        },
        "class_cnc" : class2,
        "marks_cnc":
        {
            "quiz1" : 41,
            "quiz2" : 46,
            "mid" : 51,
            "final" : 56           
        }
},
"student_1003" : {"name" : "waqar", "class_ai" : class1, "marks_ai":{
                "quiz1" : 42, 
                "quiz2" : 48, 
                "mid" : 53,
                "final" : 58}, 
                "class_cnc" : class2, "marks_cnc":{
                "quiz1" : 42, 
                "quiz2" : 48, 
                "mid" : 53,
                "final" : 58}},
"student_1004" : {"name" : "zakir", "class_ai" : class1,"marks_ai":{"quiz1" : 42, "quiz2" : 48, "mid" : 53,
            "final" : 58}, "class_cnc" : class2, "marks_cnc":{"quiz1" : 43, "quiz2" : 49, "mid" : 54,
            "final" : 59}},
"student_1005" : {"name" : "hussain", "class_ai" : class1,"marks_ai":{"quiz1" : 42, "quiz2" : 48, "mid" : 53,
            "final" : 58}, "class_cnc" : class2, "marks_cnc":{"quiz1" : 44, "quiz2" : 50, "mid" : 55,
            "final" : 60}},
"student_1006" : {"name" : "hasnain", "class_ai" : class1,"marks_ai":{"quiz1" : 42, "quiz2" : 48, "mid" : 53,
            "final" : 58}, "class_cnc" : class2, "marks_cnc":{"quiz1" : 45, "quiz2" : 51, "mid" : 56,
            "final" : 61}},
"student_1007" : {"name" : "javed", "class_ai" : class1,"marks_ai":{"quiz1" : 42, "quiz2" : 48, "mid" : 53,
            "final" : 58}, "class_cnc" : class2, "marks_cnc":{"quiz1" : 46, "quiz2" : 52, "mid" : 57,
            "final" : 62}},
"student_1008" : {"name" : "jawwad", "class_ai" : class1,"marks_ai":{"quiz1" : 42, "quiz2" : 48, "mid" : 53,
            "final" : 58}, "class_cnc" : class2, "marks_cnc":{"quiz1" : 47, "quiz2" : 53, "mid" : 58,
            "final" : 63}},
"student_1009" : {"name" : "aftab", "class_ai" : class1,"marks_ai":{"quiz1" : 42, "quiz2" : 48, "mid" : 53,
            "final" : 58}, "class_cnc" : class2, "marks_cnc":{"quiz1" : 48, "quiz2" : 54, "mid" : 59,
            "final" : 64}},
"student_1010" : {"name" : "iqbal", "class_ai" : class1,"marks_ai":{"quiz1" : 42, "quiz2" : 48, "mid" : 53,
            "final" : 58}, "class_cnc" : class2, "marks_cnc":{"quiz1" : 49, "quiz2" : 55, "mid" : 60,
            "final" : 65}}
}
stud_id = input ("Give Student id: ")
stud_id = "student_" + stud_id
stud_class = input ("Give Student class:ai or cnc: ")
stud_class_a = "marks_" + stud_class
stud_class_b = "class_" + stud_class
stud_exam = input ("Give Student exam:quiz1 or quiz2 or mid or final ")
print ("Marks of" , students[stud_id]["name"] , "in" , stud_class, stud_exam , "exam is" , 
       students[stud_id][stud_class_a][stud_exam])

Give Student id: 1006
Give Student class:ai or cnc: ai
Give Student exam:quiz1 or quiz2 or mid or final mid
Marks of hasnain in ai mid exam is 53

## stream framework

## .split()

In [21]:
a = """A function is a block of Python code that robotically does the same thing again
and again, whenever you invoke its name. It saves you repetitive coding and
makes your code easier to understand.
"""

In [22]:
word_list = a.split()
print(len(word_list), word_list)
print('function' in word_list)

34 ['A', 'function', 'is', 'a', 'block', 'of', 'Python', 'code', 'that', 'robotically', 'does', 'the', 'same', 'thing', 'again', 'and', 'again,', 'whenever', 'you', 'invoke', 'its', 'name.', 'It', 'saves', 'you', 'repetitive', 'coding', 'and', 'makes', 'your', 'code', 'easier', 'to', 'understand.']
True

In [24]:
### binary search