# 11. else and elif statements

In [12]:
sname = input("Enter Student Name ")
fname = input("Enter Student's Father Name ")
rollnum = int(input("Enter Student Roll Number "))
sub1 = int(input("Enter Subject1 Number out of 100 "))
sub2 = int(input("Enter Subject2 Number out of 100 "))
sub3 = int(input("Enter Subject3 Number out of 100 "))
sub4 = int(input("Enter Subject4 Number out of 100 "))
sub5 = int(input("Enter Subject5 Number out of 100 "))

totaksub = 5
totalmarks = 500
obtmarks = (sub1 + sub2 + sub3 + sub4 + sub5)
percantage = obtmarks / totalmarks * 100

if percantage >= 90:
    grade = "A+"
elif percantage >= 80:
    grade = "A"
elif percantage >= 70:
    grade = "B"
elif percantage >= 60:
    grade = "C"
elif percantage >= 50:
    grade = "D"
else:
     grade = "F"



print("Name: " + sname)
print("Father Name: " + fname)
print("Roll Number: " + str(rollnum))
print("Obtain Marks " + str(obtmarks))
print("Percantage: " + str(percantage)) 
print("Grade: " + str(grade))

Enter Student Name aa
Enter Student's Father Name aa
Enter Student Roll Number 3535
Enter Subject1 Number out of 100 55
Enter Subject2 Number out of 100 55
Enter Subject3 Number out of 100 55
Enter Subject4 Number out of 100 55
Enter Subject5 Number out of 100 55
Name: aa
Father Name: aa
Roll Number: 3535
Obtain Marks 275
Percantage: 55.00000000000001
Grade: D

# 12. Testing sets of conditions

## and return True only if all input conditions are True
## or rerurn True if either of the condition is True 
## not return in iversion of the input

In [8]:
True and True

True

In [7]:
True and False

False

In [9]:
False and True

False

In [10]:
False or (not False)

True

In [11]:
True or False

True

# 13. if statements nested

In [14]:
per = float(input("Percentage! "))
sub = input('E for Pre-Eng, M for Pre-Med')

if per >= 80 and sub == 'E':
    print("You can go to NED")
    
elif per >=70 and sub == 'E':
    print("You can go to KU")
    
elif per >= 80 and sub == 'M':
    print("Eligible for Dow")
    
elif per >=70 and sub == 'M':
    print("Eligible for SMC")
    
else:
    print("You can join private Uni")

per80
E for Pre-Eng, M for Pre-MedM
Eligible for Dow

In [1]:
age = int(input("What is your Age "))
gender = input("Specify Gender M/F ")
salary_per_month = float(input("Enter your salary ($) "))

if age < 18:
    print("Under Age! ")

elif age >=60:
    print('Issue Life time Card')

elif age >= 18 and salary_per_month >= 100000:
    print('Issue short Expiry Card')
    
elif age >=18 and salary_per_month == 0 and age <=22 gender == 'M':
    print('Issue a longer Expiry Card')
    
elif age >=18 and salary_per_month == 0 and age <=22 gender == 'F':
    print('Issue a longer Expiry Card')

else:
    print('Issue a longer Expiry Card')

SyntaxError: invalid syntax (2176833713.py, line 14)

In [3]:
age = int(input("What is your Age "))
gender = input("Specify Gender M/F ")
salary_per_month = float(input("Enter your salary ($) "))

if age <17:
        print("Under age")
        
elif gender == 'M':
    
    if age <30 and salary_per_month == 0:
        print('Issue short Expiry Card')
    
    

else:
    if age < 22:
        print('Issue a longer Expiry Card')

What is your Age 23
Specify Gender M/F M
Enter your salary ($) 4224252

# 14. Comments

In [ ]:
# This program adds two number
# Ctrl + fwd slash /

In [10]:
'''
Multi line comment
Multi line comment
'''

'\nMulti line comment\nMulti line comment\n'

# 15. Lists

In [36]:
khi_temp = [10, 20, 21, 30, 30, 32, 28, 29, "Pakistan"]

print(type(khi_temp))

# var = 10
#print(var)

khi_temp[6] = 45

print(khi_temp[6])

<class 'list'>
45

In [37]:
print(khi_temp[21])

# Error out of range

IndexError: list index out of range

# 16. Lists: Adding and changing elements

Append function for add data

In [39]:
khi_temp.append("Zindabad")

In [40]:
khi_temp

[10, 20, 21, 30, 30, 32, 45, 29, 'Pakistan', 'Zindabad']

In [25]:
khi_temp.append(66)

# 17. Lists: Taking slices out of them

In [31]:
khi_temp.insert(4,31)

In [30]:
print(khi_temp[2:5])

[21, 30, 32]

In [33]:
# starting position inclusive
# ending position exclusive

# 18. Lists: Deleting and removing elements

In [41]:
del khi_temp[0]
print(khi_temp)

[20, 21, 30, 30, 32, 45, 29, 'Pakistan', 'Zindabad']

In [42]:
khi_temp.remove('Zindabad')
print(khi_temp)

[20, 21, 30, 30, 32, 45, 29, 'Pakistan']

In [43]:
khi_temp.remove(30)

In [44]:
print(khi_temp)

[20, 21, 30, 32, 45, 29, 'Pakistan']

In [45]:
khi_temp.remove(30)
print(khi_temp)

[20, 21, 32, 45, 29, 'Pakistan']

# 19. Lists: popping elements

In [47]:
khi_temp.pop(0)

21

In [48]:
print(khi_temp)

[32, 45, 29, 'Pakistan']

# 20. Tuples

In [49]:
pk_temp = (10, 20, 30)

type(pk_temp)

tuple

In [52]:
pk_temp[2]

30

tuples values are constant

In [54]:
pk_temp[0] = 11

# value can't change

TypeError: 'tuple' object does not support item assignment

In [55]:
len(pk_temp)

3